<pre>received: {{ requirement | escape }} </pre>

{% assign canonicals = site.data.canonicals | where: 'type' , 'Requirements' %}
<ul>
  {% for canonical in canonicals %}
    {% assign stub = canonical.type | append: "-" | append: canonical.id %}
    {% assign req = site.data[stub] %}
    {% assign df  =  req.extension
      | where: 'url', 'http://hl7.org/fhir/5.0/StructureDefinition/extension-Requirements.derivedFrom' %}
    {% assign dfinstance = df.valueCanonical | split: "/" | last   %}
    <pre>DF={{ df | escape }}</pre>
    <pre>{{ dfinstance }} ==  {{ requirement.id }} ? </pre>
    {% if dfinstance == requirement.id %}
      <li><pre>{{ canonical | escape }}</pre></li>
    {% else %}
      <li>Scanned: <pre>{{ canonical | escape }}</pre></li>
    {% endif %}
  {% endfor %}

</ul> 
